body {
  font-family: 'Montserrat', sans-serif;
  background-color: #DDF6FF; 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;   
  height: 100vh;          
}

.login-box {
  background-color: #ffffff;
  padding: 40px;
  border: 2px solid #bcdce7; 
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1); 
  text-align: center;
  width: 350px;
}

.login-box h1 {
  margin-bottom: 20px;
  font-size: 26px;
  color: #61f5c1;
}

.login-box label {
  font-size: 14px;
  font-weight: 600;
  display: block;
  margin-top: 10px;
  text-align: left;
}

.login-box input,
.login-box select {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.login-box button {
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  background-color: #61f5c1; 
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.login-box button:hover {
  background-color: #bcdce7;
}
