body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f8ff; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .materia-container {
    color: #729fad; 
    background: white;
    padding: 30px;
    border: 2px solid #ccc;
    border-radius: 12px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
  
  .materia-container h2 {
    margin-bottom: 20px;
    font-size: 22px;
  }
  
  .materia-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: 16px;
  }
  
  .materia-container button {
    padding: 12px 25px;
    background-color: #729fad; 
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
  }
  
  .materia-container button:hover {
    background-color: #729fad; 
  }
  