* {
    font-family:  'Montserrat', sans-serif;
}

body {
    margin: 0;
    font-family:  'Montserrat', sans-serif;
    color: #333;
  }
  .top-bar {
    background-color: #e5f8ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #d0d0d0;
  }
  
  .logo {
    color: #61f5c1;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .mensaje-container {
    padding: 20px;
    font-size: 40px;
  }
  
  .titulo {
    color: #64c59b;
    font-size: 25px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc; 
    padding-bottom: 8px
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  textarea {
    width: 100%;
    height: 120px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
    resize: none;
    font-size: 14px;
    font-family: inherit;
    margin-top: 200px;
  }
  
  textarea::placeholder {
    color: #888;
    font-style: italic;
  }
  
  button {
    align-self: flex-end;
    background-color: #64c59b;
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover {
    background-color: #53b48a;
  }
  

  
  .iconos-header {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  
  .icono {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .icono:hover {
    transform: scale(1.1);
  }
  
.historial-chat {
  height: 400px; 
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column; 
}

.mensaje-bienvenida {
  color: #888;
  text-align: center;
  font-size: 13px;
  padding: 10px;
}

.mensaje-usuario {
  background-color: #64c59b;
  color: white;
  padding: 10px 15px;
  border-radius: 15px;
  border-bottom-right-radius: 2px; 
  max-width: 70%; 
  align-self: flex-end; 
  margin: 5px 0;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}


.mensaje-profesor {
  background-color: #ffffff; 
  color: #333;
  padding: 10px 15px;
  border-radius: 15px;
  border-bottom-left-radius: 2px; 
  max-width: 70%; 
  align-self: flex-start; 
  margin: 5px 0;
  font-size: 14px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}