body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #DDF6FF;  
}

.galeria-profesores {
  display: flex;
  flex-wrap: wrap;
  gap: 25px; 
  justify-content: center;
  padding: 20px;
}

.profesor {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.foto-profesor {
  width: 100%;       
  height: 100%;      
}



.profesor:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}
  



.nombre-profesor {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #61f5c1;
  color: #ffff;
  text-align: center;
  padding: 10px 0;
  font-size: 1.1em;
  font-weight: bold;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; 
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;                 
  justify-content: space-between; 
  align-items: center;           
  padding: 20px 30px;
  background-color: transparent;
}

.top-bar .logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #4fd3a8;                   
  margin: 0;                      
}

.iconos-header {
  display: flex;
  gap: 15px;
  align-items: center;
}

.icono {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.2s;
}

.icono:hover {
  transform: scale(1.1);
}