* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #0097a7;
}

body {
  background: #f4f4f4;
  padding: 20px;
}

.perfil-profesor {
  display: flex;
  gap: 20px;
}


.profesor-card {
  background-color: #ebfaff;
  color: white;
  padding: 20px;
  border-radius: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.profesor-foto img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 15px;
}

.profesor-info h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.estrellas {
  font-size: 20px;
  margin-bottom: 10px;
}

.descripcion {
  font-size: 30px;
  margin-bottom: 10px;
  color: #0097a7;
}

.precio {
  font-weight: bold;
  font-size: 18px;
  color: #0097a7;
}

.profesor-reseñas {
  background-color: #ebfaff;
  flex: 2;
  padding: 20px;
  border-radius: 15px;
  color: #0097a7;
}

.profesor-reseñas h2 {
  margin-bottom: 15px;
}

.reseña {
  background: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #0097a7;
}

.nueva-reseña {
  margin-top: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  color: #0097a7;
}

.nueva-reseña textarea {
  padding: 10px;
  resize: none;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  color: white;
}

.nueva-reseña button {
  background: #0097a7;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-mensaje {
  margin-top: 15px;
  padding: 10px 15px;
  background-color: white;
  color: #0097a7;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}