* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #e6f6ff;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.logo {
  color: #4bb69c;
  font-style: italic;
  font-size: 24px;
}

.botones {
  display: flex;
  gap: 10px;
}

.btn {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 12px;
  cursor: pointer;
  font-style: italic;
}

.btn:hover {
  background-color: #dff7f0;
}


.contenido {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
}

.texto {
  width: 45%;
}

.texto h2 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #1a1a1a;
}

.texto ul {
  list-style: none;
  font-size: 16px;
  line-height: 1.8;
  color: #333;
}


.imagenes {
  display: flex;
  gap: 25px;
  align-items: flex-end;
}

.imagenes img {
  width: 200px;
  object-fit: cover;
  border-radius: 90px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.imagenes img:nth-child(1) {
  height:500px;
  transform: translateY(20px);
}

.imagenes img:nth-child(2) {
  height: 450px;
  transform: translateY(-10px);
  margin-top: -90px;
}

.imagenes img:nth-child(3) {
  height: 500px;
  transform: translateY(25px);
}


.imagenes img:hover {
  transform: scale(1.05);
  filter: brightness(1.05);
}

.botones button {

  padding: 10px 20px; 
  border: none; 
  border-radius: 8px; 
  cursor: pointer; 
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.1s;
  letter-spacing: 0.5px;
}

#irPantalla2 {
  background-color: #4bb69c; 
  color: white; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#irPantalla2:hover {
  background-color: #38a087;
}

#registrarme {
  background-color: transparent; 
  color: #4bb69c; 
  border: 2px solid #4bb69c;
}

#registrarme:hover {
  background-color: #4bb69c; 
  color: white;
}

.botones button:active {
  transform: scale(0.98); 
}