
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #DDF6FF; 
  color: #61f5c1; 

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  color: 61f5c1; 
}

header div {
  font-size: 40px;
  font-weight: bold;
}

header button {
  background-color: white;
  color: black;
  border: none;
  padding: 6px 12px;
  margin-left: 8px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

main h2{
  margin-left: 40px; 
  font-size: 30px;
}
main h3 {
  margin-left: 40px; 
  font-size: 30px;
}


.imagenes-p1 {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  height: 100vh;
}


.imagenes-p1 img {
  width: 180px;
  height: 700px;
  object-fit: cover;
  border-radius: 100px;
}


.img1 {
  align-self: flex-start; 
  margin-bottom: 300px;
}

.img2 {
  align-self: center; 
  margin-top: 100px;
}

.img3 {
  align-self: flex-end;
  margin-bottom: 400px;
}
