* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #e6f6ff;
}

/* ----- HEADER ----- */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.logo {
  color: #4bb69c;
  font-style: italic;
  font-size: 24px;
}

.botones {
  display: flex;
  gap: 10px;
}

.btn {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 12px;
  cursor: pointer;
  font-style: italic;
}

.btn:hover {
  background-color: #dff7f0;
}

/* ----- CONTENIDO PRINCIPAL ----- */
.contenido {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
}

/* Texto */
.texto {
  width: 45%;
}

.texto h2 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #1a1a1a;
}

.texto ul {
  list-style: none;
  font-size: 16px;
  line-height: 1.8;
  color: #333;
}

/* Imágenes */
.imagenes {
  display: flex;
  gap: 25px;
  align-items: flex-end;
}

/* Distintas alturas y posiciones */
.imagenes img {
  width: 200px;
  object-fit: cover;
  border-radius: 90px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.imagenes img:nth-child(1) {
  height:500px;
  transform: translateY(20px);
}

.imagenes img:nth-child(2) {
  height: 450px;
  transform: translateY(-10px);
  margin-top: -90px;
}

.imagenes img:nth-child(3) {
  height: 500px;
  transform: translateY(25px);
}

/* efecto hover suave */
.imagenes img:hover {
  transform: scale(1.05);
  filter: brightness(1.05);
}

